/* flexbox utils*/
.d-flex{
    display : flex !important; 
}
.align-content-spaceBetween{
    align-content : space-between;
}
.align-items-center{
    align-items : center !important;
}
.align-items-f-start{
    align-items: flex-start ;
}
.justify-content-center{
 justify-content : center !important;   
}
.justify-content-f-start{
    justify-content: flex-start ;
}
.justify-content-space-between{
    justify-content: space-between;
}
.f-flow-column{
    flex-flow: column wrap ;
}
.f-flow-row-wrap{
    flex-flow : row wrap ;
}
.f-flow-column-wrap{
    flex-flow : column wrap ;
}
.f-direction-column{
    flex-direction : column ;
}
.f-grow-1{
    flex-grow : 1 ;
}
.gap-1{
    gap : 1rem;
}

/* background-color utils */
:root{
    --red :rgb(194, 2, 2);
    --gray : rgb(241, 241, 241);
    --white : #fff;
}
.bg-gray{
    background-color: var(--gray) !important;
}
.bg-white{
    background-color : var(--white) !important;
}
.bg-red{
    background-color: var(--red) !important;
}


/* utils */
.content{
    max-width :1200px;
    height : 600px;
    margin : 3rem auto 0;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    position : relative;
}


