
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width : 100%;
    overflow-x : hidden;
}
html{
    font-size : 62.5%;
}
body{
    font-family: vazir;
    font-size : 1.8rem;
    background-color: rgb(255, 45, 8);
    direction : rtl;
    
}
